@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  margin: 0;
  padding: 0;
 }

.App {
  background-color: #ffffff;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: #000;
  background-size: 100%;
}

.content {
  margin-right: 20px;
}

.start {
  margin-left:270px;
}

.contentProject {
  margin-left: 100px;
}

.footer {
  font-family: 'Poppins', arial;
  font-size: 15px;
  text-align: center;
  margin-bottom: 20px;
}

@media only screen and (max-width: 1280px) {
  .start {
    margin-left: 20px;
  }
}